.cards-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.search-vacation{
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.add-new-vacation-button{
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
}

.add-new-vacation-button button{
    background-color: white;
    color: #0b1d48;
    border-radius: 22px;
    padding: 6px;
}

.add-new-vacation-button button:hover{
    background-color: lightblue;
    
}

